body{
    margin: 0vw;
    padding: 0vw;
}

.web{
    width: 100 vw;
    height: 70 vw;
    background-color: black; 
    margin: 0 vw;
}
.class{
    background-color: black;
    color: white;
    height: 1050px;
}

.header{
    height: 120px;
    display: grid;
    grid: auto  / 80% 5% 5% 5%;
    background-color: black;
    padding-top : 1vw;
    padding-bottom: 1vw; 
}
a{
    color:white;
    text-decoration: none;

}

.logo{
    width: 30%;
}
.logo img{
    width: 100%;
    margin-top: 8%;
    margin-left: -8%;

}

.class{
    background-color: black;
}

.about{
    color: white;
    margin: auto;
}

.con{
    color: white;
    margin: auto;
}

.blog{
    color: white;
    margin: auto;
}

.pic{
    width: 40%;
}
.pic img{
width:100%;
margin-top: 8%;
margin-left: 20%;
}

.title{
    position: absolute;
    font-size: 7vw;
    margin-left: 40%;
    margin-top: -58%;
    color: white;
}
.para{
width:45%;
    margin-top:-35% ;
margin-left: 53% ;
}

.about:hover{
    font-weight: bold;
}

.blog:hover{
    font-weight: bold;
}

.con:hover{
    font-weight: bold;
}

.title:hover{
    color:grey;
}


@media only screen and (max-width:480px){

    body{
        margin: 0vw;
        padding: 0vw;
    }
    
    .web{
        width: 100 vw;
        height: 70 vw;
        background-color: black; 
        margin: 0 vw;
    }
    .class{
        background-color: black;
        color: white;
    }
    
    .header{
        height: 120px;
        display: grid;
        grid: auto  / 80% 5% 5% 5%;
        background-color: black;
        padding-top : 1vw;
        padding-bottom: 1vw; 
    }
    
    .logo{
        width: 50%;
    }
    .logo img{
        width: 100%;
        margin-top: 9%;
        margin-left: 3%;
        margin-top: 11%;
    
    }
    a{
        color:white;
        text-decoration: none;
    
    }
    .about{
        color: white;
        margin: auto;
        font-size:3vw;
        margin-left:-17vw;
        margin-top:6vw;
    }
    
    .con{
        color: white;
        margin: auto;
        font-size:3vw;
        margin-left:-11vw;
        margin-top:6vw;
        
    }
    
    .blog{
        color: white;
        margin: auto;
        font-size:3vw;
        margin-left:-3vw;
        margin-top:6vw;
        
    }
    
    .content{
        display: grid;
        grid: 29vw  / 20%;
    }
    


    .pic{
        width: 60%;
        text-align: center;
    }

    .pic img{
    width:100%;
    margin-top: 8%;
    margin-left: 35%;
    }
    
    .title{
        position: absolute;
        font-size: 7vw;
        margin-left: 40%;
        margin-top: -95%;
        color: white;
        
    }
    .para{
    width:70%;
    margin-top:5% ;
    margin-left: 20% ;
    }
    
    .about:hover{
        font-weight: bold;
    }
    
    .blog:hover{
        font-weight: bold;
    }
    
    .con:hover{
        font-weight: bold;
    }
    
    .title:hover{
        color:grey;
    }


 
}
